.card {
  width: 180mm;
  height:100mm;
  margin-bottom: 80px;

}
.card-body {
  width:130mm;
  height: 70mm;
  padding: 30px;
}
.card-body-shulte{
  width:130mm;
  height: 70mm;
  padding: 30px;
}


