
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Кривая запоминания</h3>
  </div>
  <div class="card-body">
    <canvas id="myChart" ></canvas>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Кривая внимания</h3>
  </div>
  <div class="card-body-shulte">
    <canvas id="myChartAfter" ></canvas>
  </div>
</div>
<!--<div class="card">
  <div class="card-header">
    <h3 class="card-title">Итог по факторам</h3>
  </div>
  <div class="card-body">
    <canvas id="myChartCompare" style="min-height: 250px; height: 450px;"></canvas>
  </div>
</div>-->

