<div #content class="wrapper">

  <div class="content-wrapper">

    <div class="container" >
      <div class="unic_logo">
        <img src="assets/images/head.png" alt="">
      </div>


      <div class="summary-title">
        <h2>Заключение по результатам нейропсихологического исследования от <span>{{examinationDate}} </span> на
          <span> {{nameOfUser}}</span> <span></span> {{birthdayOfUser}} г.р.</h2>
        <div>
          <div *ngIf="complaints">
            <div>Жалобы со слов мамы</div>
            <div>{{complaints}}</div>
          </div>
          <div *ngIf="med_anamnesis">
            <div>Медицинский анамнез</div>
            <div>{{med_anamnesis}}</div>
          </div>
          <div *ngIf="soc_anamnesis">
            <div>Социальный анамнез</div>
            <div>{{soc_anamnesis}}</div>
          </div>

          <div >
          <span *ngIf="adequancy">В ситуации обследования поведение <span> {{adequancy}}.</span> </span>
            <span class="div" *ngIf="adequancyDescription.length > 0"> Обследуемый демонстрирует {{adequancyDescription}}.</span>
           <span *ngIf="contact"> Продуктивному речевому и глазному контакту <span>{{ contact}}.</span></span>
            <span *ngIf="conversation"> В беседу вступает {{conversation}}. </span>
            <span *ngIf="entranceDescription.length >0"> В беседу вступает {{entranceDescription}}. </span>
           <!-- <span *ngIf="speechInitiation"> Речевая инициатива {{speechInitiation}}.</span>-->
            <span *ngIf="distance"> {{distance}}</span>. <span *ngIf="orientation" ><span> {{ orientation}}.</span> </span>
            <span *ngIf="orientationDescription.length > 0"> {{orientationDescription}}.</span>
           <span *ngIf="expert_motivation">Экспертная мотивация <span> {{expert_motivation}}.</span> </span> <span *ngIf="interest"><span>{{interest}} .</span></span>
            <span *ngIf="emotional_state"> {{emotional_state}} .</span> <span *ngIf="emotional_stateDescription.length > 0 "> Отмечаются {{emotional_stateDescription}}. </span>
            <span *ngIf="criticality"><span> {{ criticality}}</span>.</span>

          <span *ngIf="instructionUnderstanding && instructionFollowing">  Инструкции <span>{{instructionUnderstanding}},{{instructionFollowing}}.</span></span>
            <span *ngIf="tasks" >Задания <span>{{tasks}}.</span></span>
            <span *ngIf="help.length > 0">Необходима <span> {{help}} </span> помощь.</span>
            <span *ngIf="helpDescription.length > 0 "><span> {{helpDescription}}</span> .</span>
            <span *ngIf="helpPlace"> Помощь оказывалась {{helpPlace}}.</span>
            <span *ngIf="workTempo"> Темп деятельности <span>{{workTempo}}</span>.</span> <span *ngIf="workDinamic"> Динамика работоспособности <span>{{workDinamic}}</span>.</span>
          </div>
          <div *ngIf="objectiveZeroSymptoms.length !==0 || objectiveNotBadSymptoms.length !==0 || objectiveBadSymptoms.length !==0 || objectiveWorseSymptoms.length !==0">
            По объективным данным:
            <p><span *ngIf="visiual_gnosis || visiual_gnosis_norm || visiual_symbolic_gnosis || visiual_symbolic_gnosis_norm || copy_gnosis_norm
             || copy_gnosis || copy_gnosis_worse || emotional_gnosis || emotional_gnosis_norm || auditional_gnosis || auditional_gnosis_norm || sensor_gnosis || sensor_gnosis_norm
              || copy_simple_gnosis || copy_simple_gnosis_norm || copy_simple_gnosis_worse">  <strong>Гнозис.</strong> </span>
              <span *ngIf="visiual_gnosis"> При исследовании зрительного гнозиса отмечается {{visiual_gnosis}}.</span>
              <span *ngIf="visiual_gnosis_norm"> {{visiual_gnosis_norm}}.</span>
              <span *ngIf="visiual_symbolic_gnosis"> Также отмечается недостаточность символического гнозиса в виде {{visiual_symbolic_gnosis}}.</span>
              <span *ngIf="visiual_symbolic_gnosis_norm"> {{visiual_symbolic_gnosis_norm}}.</span>
              <span *ngIf="copy_gnosis"> При копировании сложных фигур Тейлора и Рея-Остеррица отмечаются {{copy_gnosis}}.</span>
              <span *ngIf="copy_gnosis_norm"> {{copy_gnosis_norm}}.</span>
              <span *ngIf="copy_gnosis_worse"> {{copy_gnosis_worse}}.</span>
              <span *ngIf="copy_simple_gnosis"> При копировании простых фигур отмечается {{copy_simple_gnosis}}.</span>
              <span *ngIf="copy_simple_gnosis_norm"> {{copy_simple_gnosis_norm}}.</span>
              <span *ngIf="copy_simple_gnosis_worse"> {{copy_simple_gnosis_worse}}.</span>
              <span *ngIf="emotional_gnosis"> {{emotional_gnosis}} .</span>
              <span *ngIf="emotional_gnosis_norm"> {{emotional_gnosis_norm}} .</span>
              <span *ngIf="auditional_gnosis"> При исследовании  слухового гнозиса отмечается {{auditional_gnosis}}.</span>
              <span *ngIf="auditional_gnosis_norm"> {{auditional_gnosis_norm}}.</span>
              <span *ngIf="sensor_gnosis"> При исследовании тактильного гнозиса отмечается {{sensor_gnosis}}.</span>
              <span *ngIf="sensor_gnosis_norm"> {{sensor_gnosis_norm}}.</span>
             <!-- <span *ngIf="sensor_gnosis_norm && emotional_gnosis_norm && auditional_gnosis_norm && visiual_gnosis_norm"> Все виды гнозиса без особенностей.</span>-->
            </p>
            <p>
             <span *ngIf="dinamic_pracsis || dinamic_pracsis_norm || reciprok || reciprok_norm|| position_pracsis || position_pracsis_norm|| choice_reaction || choice_reaction_norm
             || grafics_pracsis || grafics_pracsis_norm || constract_pracsis || constract_pracsis_norm|| eyes_test || eyes_test_norm || heads_test || heads_test_norm || oral_pracsis || oral_pracsis_norm
              || kube_copy || kube_copy_norm || kube_draw || kube_copy_worse || listen_motor_test || listen_motor_test_eval || listen_motor_test_instruction || heads_test_worse"> <strong> Праксис.</strong></span>
              <span *ngIf="dinamic_pracsis"> В пробе на динамический праксис отмечаются {{dinamic_pracsis}} .</span>
              <span *ngIf="dinamic_pracsis_norm"> {{dinamic_pracsis_norm}}.</span>
              <span *ngIf="dinamic_pracsis_speed"> Программу усваивает {{dinamic_pracsis_speed}}.</span>
              <span *ngIf="reciprok"> При выполнении пробы на реципрокную координацию отмечается {{reciprok}} .</span>
             <span *ngIf="reciprok_norm"> {{reciprok_norm}} .</span>
            <span *ngIf="position_pracsis_norm"> {{position_pracsis_norm}} .</span>
              <span *ngIf="position_pracsis"> В пробе на праксис поз отмечается {{position_pracsis}}.</span>
              <span *ngIf="oral_pracsis"> При исследовании орального праксиса отмечается {{oral_pracsis}}.</span>
              <span *ngIf="oral_pracsis_norm"> {{oral_pracsis_norm}}.</span>
              <span *ngIf="choice_reaction"> В пробе на реакцию выбора отмечается {{choice_reaction}}.</span>
              <span *ngIf="choice_reaction_norm"> {{choice_reaction_norm}}.</span>
              <span *ngIf="grafics_pracsis"> В графической пробе отмечается {{grafics_pracsis}}.</span>
              <span *ngIf="grafics_pracsis_norm"> {{grafics_pracsis_norm}}</span>
              <span *ngIf="constract_pracsis"> При исследовании конструктивного праксиса {{constract_pracsis}}.</span>
              <span *ngIf="constract_pracsis_norm"> {{constract_pracsis_norm}}.</span>
              <span *ngIf="kube_copy || kube_copy_norm || kube_draw || kube_copy_worse">
                <span *ngIf="kube_draw"> При самостоятельном рисовании стола/куба отмечаются  {{kube_draw}}.</span>
              <span *ngIf="kube_copy"> При копировании стола/куба отмечаются {{kube_copy}}.</span>
              <span *ngIf="kube_copy_norm"> {{kube_copy_norm}}.</span>
              <span *ngIf="kube_copy_worse"> {{kube_copy_worse}}.</span></span>
              <span *ngIf="listen_motor_test_eval || listen_motor_test || listen_motor_test_instruction" >При исследовании слухомоторных координаций отмечаются
              <span *ngIf="listen_motor_test_eval && listen_motor_test"> {{listen_motor_test_eval}}, {{listen_motor_test}}.</span>
              <span *ngIf="listen_motor_test_eval && !listen_motor_test "> {{listen_motor_test_eval}} {{listen_motor_test}}.</span>
              <span *ngIf="!listen_motor_test_eval && listen_motor_test "> {{listen_motor_test_eval}} {{listen_motor_test}}.</span></span>
              <span *ngIf="listen_motor_test_worse">{{listen_motor_test_worse}}.</span>
              <span *ngIf="listen_motor_test_instruction"> {{listen_motor_test_instruction}}.</span>
              <span *ngIf="listen_motor_test_norm"> {{listen_motor_test_norm}}.</span>



              <span *ngIf="eyes_test"> В пробе на глазодвигательный праксис отмечается {{eyes_test}}.</span>
              <span *ngIf="eyes_test_norm"> {{eyes_test_norm}}.</span>
              <span *ngIf="heads_test"> В пробе Хэда отмечается {{heads_test}}.</span>
              <span *ngIf="heads_test_norm"> {{heads_test_norm}}.</span>
              <span *ngIf="heads_test_worse"> {{heads_test_worse}}.</span>
             <!-- <span *ngIf="dinamic_pracsis_norm && reciprok_norm && position_pracsis_norm && grafics_pracsis_norm && constract_pracsis_norm && choice_reaction_norm && heads_test_norm"> Все виды праксиса без особенностей.</span>-->
            </p>
            <p>
             <span *ngIf="audit_memory || audit_memory_norm|| audit_memory_2_3 || audit_memory_2_3_norm || visial_space_memory || visial_space_memory_norm || visiual_memory || visiual_memory_norm"> <strong>Память.</strong> </span>
              <span *ngIf="audit_memory">{{audit_memory}}.<span *ngIf="memoryPoints.length > 0">Кривая запоминания ({{memoryPoints}}).</span></span>
              <span *ngIf="audit_memory_norm">{{audit_memory_norm}}.<span *ngIf="memoryPoints.length > 0">Кривая запоминания ({{memoryPoints}}).</span> </span>
            <!--  <span *ngIf="!audit_memory">Слухоречевая память достаточна по ообъему и прочности. Кривая запоминания ({{memoryPoints}}).</span>-->
              <span *ngIf="audit_memory_2_3"> {{audit_memory_2_3}}.</span>
              <span *ngIf="audit_memory_2_3_norm"> {{audit_memory_2_3_norm}}.</span>
              <span *ngIf="visial_space_memory"> {{visial_space_memory}}.</span>
              <span *ngIf="visial_space_memory_norm"> {{visial_space_memory_norm}}.</span>
              <span *ngIf="visiual_memory"> {{visiual_memory}}.</span>
              <span *ngIf="visiual_memory_norm">  {{visiual_memory_norm}}.</span>
            </p>
            <p>
              <span *ngIf="calculating || calculating_norm || solving_tasks || solving_tasks_norm"><strong>Счет.</strong></span>
              <span *ngIf="calculating"> При исследовании счетных функций отмечается {{calculating}}.</span>
              <span *ngIf="calculating_norm"> {{calculating_norm}}.</span>
              <span *ngIf="solving_tasks">При решении примеров отмечаются {{solving_tasks}} </span>
              <span *ngIf="solving_tasks_norm"> {{solving_tasks_norm}}. </span>
            </p>
            <p>
            <span *ngIf="causal_link || causal_link_norm || exclude_4 || exclude_4_norm || solving_problems || solving_problems_norm
            || pictures_understanding || text_meaning || analog || analog_norm "> <strong>Мышление.</strong></span>    <!-- <span *ngIf="!causal_link && !exclude_4 && !pictures_understanding && !solving_problems">Причинно-следственные связи устанавливает верно, самостоятельно. 4-й лишний исключает по категориальному и функциональному признаку. Смысл сюжетных картин и рассказов доступен, в том числе скрытый.Решение арифметичеких задач трудностей не вызывает.</span>-->
              <span *ngIf="causal_link">{{causal_link}}</span>
              <span *ngIf="causal_link_norm">{{causal_link_norm}}</span>
              <span *ngIf="solving_problems">При решении задач отмечаются {{solving_problems}}. </span>
              <span *ngIf="solving_problems_norm"> {{solving_problems_norm}}. </span>
              <span *ngIf="exclude_4">Исключение 4 лишнего {{exclude_4}}.</span>
              <span *ngIf="exclude_4_norm">{{exclude_4_norm}}.</span>
              <span *ngIf="analog"> В пробе на установление аналогий наблюдаются {{analog}}.</span>
              <span *ngIf="analog_norm">{{analog_norm}}.</span>
              <span *ngIf="pictures_understanding">Понимание смысла сюжетных картин {{pictures_understanding}}.</span>
              <span *ngIf="text_meaning"> Понимание текста  {{text_meaning}}.</span>
            </p>
            <p>
              <span *ngIf="speech">  <strong>Речь.</strong>  {{speech}}</span>
            </p>
          </div>
            <p>
              <span *ngIf="neurodinamic"><strong>Нейродинамический компонент</strong> {{neurodinamic}}. </span>
             <span *ngIf="mobility!=='' || minusMobility2!=='' || sinus!==''|| attention!=='' || switchOfMovements!==''">
                Характеризуется

          <span *ngIf="mobility !==''">{{mobility}},</span>
                <span *ngIf="mobility2 !==''">{{mobility2}},</span><span *ngIf="mobility3 !==''">{{mobility3}},</span>
          <span *ngIf="minusMobility2 !==''"> {{minusMobility2}},</span>
          <span *ngIf="sinus !==''"> {{sinus}},</span> <span *ngIf="sinus2 !==''"> {{sinus2}}.</span></span>
          <span *ngIf="operation_memory !==''"> {{operation_memory}},</span>
          <span *ngIf="ram_value !==''"> {{ram_value}},</span>

        <!--  <span *ngIf="regulationFromGeneral"> Регуляторный компонент {{regulation}},</span>  <span *ngIf="regulation2">{{regulation2}},</span>
               <span *ngIf="regulation3">{{regulation3}}.</span> -->

             <span *ngIf="!attention && !switchOfMovements"><strong>Нейродинамический компонент </strong> без особенностей.</span>
              <span *ngIf="shultePoints && shultePoints !== '' "> Таблицы Шульте {{shultePoints}}.  </span>
              <span *ngIf="attention">При выполнении пробы отмечается {{attention}}. </span>
            </p>
            <p>

         <span *ngIf="programming || mentalProgramming"><strong>Регуляторный компонент</strong> характеризуется недостаточностью в звене программирования
           {{programming || mentalProgramming}},</span>
              <span *ngIf="programming && mentalProgramming"><strong>Регуляторный компонент</strong> характеризуется недостаточностью в звене программирования
                {{programming}}, {{mentalProgramming}}.</span>
              <span *ngIf="programming2 || mentalProgramming2"><strong>Регуляторный компонент</strong> <span *ngIf="programming2"> выражено недостаточен {{programming2}}, </span>
               <span *ngIf=" mentalProgramming2"> выражено недостаточен {{mentalProgramming2}}. </span> </span>
              <span *ngIf="programming2 && mentalProgramming2"><strong>Регуляторный компонент</strong> <span> выражено недостаточен {{programming2}}, </span>
               <span> {{mentalProgramming2}}. </span> </span>
            <!--  <span *ngIf="regulation"><strong>Регуляторный компонент</strong> {{regulation}}.</span>-->
              <span *ngIf="programming3"><strong>Регуляторный компонент</strong> {{programming3}},</span>
              <span *ngIf="control"> <strong>Регуляторный компонент</strong> характеризуется {{control}}.</span>
              <!-- <span *ngIf="control2">{{control2}}.</span><span *ngIf="control3">{{control3}}.</span>-->
            <!--  <span *ngIf="!programming && !programming2 && !programming3 && !mentalProgramming && !mentalProgramming2 && !control
        && !control2 && !control3"> <strong> Регуляторный компонент</strong>  достаточен.</span> --><span></span>
            </p>


          <div *ngIf="isRefresh">
            <h5> <!--Таким образом, на первый план выступает--> {{resume}}</h5>
          </div>
          <div>
            <textarea rows="10" cols="80" [(ngModel)]="resume_description" *ngIf="!isRefresh"></textarea>
          </div>
          <div>
            <div class="recommends-title" *ngIf="isRefresh">
              <h2>Рекомендации</h2>
            </div>
            <div>
              {{recommends}}
            </div>
          </div>
          <div class="recommends" *ngIf="!isRefresh">
            <div class="recommends-title">
              <h2>Рекомендации</h2>
            </div>
            <textarea rows="10" cols="80" [(ngModel)]="recommends_decription"></textarea>
          </div>
          <button class="btn-sm bg-success " (click)="saveSolutions(resume_description,recommends_decription)" *ngIf="!isRefresh"> Сохранить
          </button>
          <!-- убрать  -->
       <!--   <button class="btn-sm bg-success " (click)="saveAndSendRequestToDB()" #exportBtn2 *ngIf="isRefresh"> Сохранить и выйти</button>-->

          <div>
            Клинический психолог, нейропсихолог {{psychoName}}{{psyhoLastname}}
          </div>

          <div class="content-wrapper p-2">
            <app-chart></app-chart>
          </div>
       </div>
        <button class="btn-sm bg-success mb-5 align-items-center"  #exportBtn *ngIf="isRefresh" (click)="exportPdf()">Скачать как PDF</button>
      </div>
    </div>

  </div>
</div>

<!--


критичность - оценка собственной деятельности и поведения
0 сохранна
1 с незнаительной регулирующей помощью
2 - снижена
3 безразличен к своему состоянию, поведению и оценкам взрослого


эмоци фон бнз цифр

помощб в мышление и чтение

Двигательную программу усвоил....
-->
