<p>signup works!</p>
<!-- поля для регистрации должны быть:
    "name":
    "lastName":
    "email":
    "password":
    "passwordRepeat":-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Registration Page</title>

</head>

<div class="register-box d-flex justify-content-center align-items-center m-auto">
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg fa-2x font-weight-bold">Зарегистрироваться</p>

      <form action="./index.html" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control border-right fs-3" placeholder="Имя и Фамилия">
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control border-right fs-3" placeholder="Email">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control border-right fs-3" placeholder="Пароль">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control border-right fs-3" placeholder="Повторить пароль">
        </div>
        <div class="row">
         <!-- <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>-->
          <!-- /.col -->
          <div class="col-6 m-auto mt-1">
            <button type="submit" class="btn btn-success btn-block">
              <i class="fa fa-id-card" aria-hidden="true"></i>
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
  <div class="mb-0 mt-3 p-1 text-center" >
    <a routerLink="login" class="link fa-1x">У меня уже есть аккаунт</a>
  </div>

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
