.register-box{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 100px;
  .card{
    margin-bottom: 100px;
    .card-body.register-card-body{
      width: 350px;
      height: 350px;
    }
    .input-group{
      height: 30px;
      width: 200px;
      margin-bottom: 10px;
      border-radius: 5px;
      outline: none;
      background-color: #0c84ff;
      .form-control{
        width: 300px;
      }
    }
  }
.link{
  text-decoration: none;
  color: #0e5b44;
  &:hover{
    color: #0a47e0;
  }
}

}
